[forward]
root        = /path/to/kaffe/root
model       = %(root)s/path/to/model/def
weights     = %(root)s/path/to/model/weights
dspec_path  = %(root)s/data_spec/dataset.spec
test_range  = [0,1,2,...]
fov         = (z,y,x)
border      = dict(type='border_mirror', fov=%(fov)s)
scan_list   = ['output']
save_prefix = /path/to/save/prefix
