[forward]
kaffe_root  = /path/to/kaffe/root
dspec_path  = %(kaffe_root)s/data_spec/dataset.spec
model       = /path/to/prototxt
weights     = /path/to/caffemodel
drange      = [0,1,2,...]
fov         = (z,y,x)
border      = dict(type='mirror_border', fov=%(fov)s)
scan_params = None
save_prefix = /path/to/save/prefix
# Inference-time augmentation.
flip_range  = range(16)
scan_list   = {'output':dict(dst=(1,1,1))}
