[train]
kaffe_root    = /path/to/kaffe/root
dspec_path    = %(kaffe_root)s/data_spec/dataset.spec
train_range   = [0,1,2,...]
test_range    = [0,1,2,...]
fov           = (z,y,x)
border        = dict(type='border_mirror', fov=%(fov)s)
augment       = [dict(type='flip')]
dprior        = None
test_interval = 500

[solver]
type: "SGD"
train_net: "train.prototxt"
test_net: "val.prototxt"
test_iter: 10
# To bypass solver's test.
test_interval: 9999999
display: 10
# The base learning rate, momentum and the weight decay of the network.
base_lr: 0.01
momentum: 0.9
weight_decay: 0.0
# The learning rate policy.
lr_policy: "fixed"
max_iter: 500000
snapshot: 5000
snapshot_prefix: "snapshot/train"
snapshot_format: HDF5
